*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
}

/* Header  */

.header {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.name{
    font-size: 25px;
    font-weight: 700;
    color: chocolate;
}

.content span{
    font-size: 20px;
    font-weight: 500;
}

/* main */

#main{
    width: 50%;
    margin:100px auto;
    
}
.form{
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-bottom: 50px;
}
.result{
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-size: 20px;
    font-weight: 600;
    color: coral;
}
.err{
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: red;
}